<%= form_with(model: @paciente, local: true) do |form| %>
  <div class="field">
    <%= form.label :nome_completo %>
    <%= form.text_field :nome_completo %>
  </div>

  <div class="field">
    <%= form.label :data_nascimento %>
    <%= form.date_field :data_nascimento %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.email_field :email %>
  </div>

  <%= form.fields_for :endereco do |endereco_form| %>
    <div class="field">
      <%= endereco_form.label :rua %>
      <%= endereco_form.text_field :rua %>
      <%= endereco_form.label :numero %>
      <%= endereco_form.number_field :numero %>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
