<style>
    body {
        background-color: #add8e6;
        text-align: center;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #333;
    }

    table {
        width: 80%;
        margin: 0 auto;
        border-collapse: collapse;
    }

    th, td {
        border: 1px solid #0074e4;
        padding: 8px;
    }

    th {
        background-color: #0074e4;
        color: white;
    }

    tr:hover {
        background-color: #e0f0fa;
    }

    a {
        text-decoration: none;
        color: #0074e4;
    }
</style>

<h1>Lista de Médicos</h1>

<table>
  <thead>
  <tr>
    <th>Nome</th>
    <th>Especialização</th>
    <th>Email</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @medicos.each do |medico| %>
    <tr>
      <td><%= medico.nome %></td>
      <td><%= medico.especializacao %></td>
      <td><%= medico.email %></td>
      <td><%= link_to 'Detalhes', medico %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'Adicionar Médico', new_medico_path %>
<div class="separator"></div>
<%= link_to 'Voltar para à Home Page', root_path %>
